
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.hero-P9H {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 195rem;

  .bg-planets-1-ZCB {
    height: 99.1rem;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    width: 144rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:166ce1dd40dfb467b4b58cb3605ab76888d1e8b2');
  }
  .ellipse-1-JSb {
    vertical-align: top;
    width: 49.7rem;
    height: 45.6rem;
    position: absolute;
    left: 102.2rem;
    top: 0;
    object-fit: contain;
  }
  .logo-ciB {
    object-fit: cover;
    vertical-align: top;
    border-radius: 6.2rem;
    width: 22.6rem;
    height: 25.4rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .hello-its-me-nicks--kJb {
    color: #ffffff;
    height: 3.9rem;
    position: absolute;
    top: 26rem;
    font-weight: 600;
    line-height: 1.2125;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 33.7rem;
    left: 12.5rem;
    font-size: 3.2rem;
  }
  .danica-mae-de-guzman-YVM {
    height: 6.1rem;
    position: absolute;
    left: 9rem;
    font-style: italic;
    color: #ffffff;
    white-space: nowrap;
    width: 64.1rem;
    top: 31rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .web-developer-graphic-designer-Ed5 {
    font-weight: 600;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.9rem;
    position: absolute;
    left: 12.5rem;
    font-size: 3.2rem;
    width: 57.2rem;
    top: 39.6rem;
    line-height: 1.2125;
    color: #ffff00;
  }
  .description--LRD {
    vertical-align: top;
    width: 66.9rem;
    height: 30.2641rem;
    position: absolute;
    left: 7.3rem;
    top: 46.6rem;
    object-fit: contain;
  }
  .rectangle-1-Fo5 {
    left: 40.5rem;
    top: 82.2rem;
    background-color: #ffd600;
    width: 28.6rem;
    height: 5.7rem;
    position: absolute;
  }
  .download-cv-yUB {
    white-space: nowrap;
    width: 20.4rem;
    position: absolute;
    font-weight: 900;
    line-height: 1.2022535276;
    text-decoration-line: underline;
    color: #000000;
    height: 3.7rem;
    left: 44.4rem;
    top: 83.1rem;
    font-size: 3rem;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
  }
  .retangle-2-5XD {
    top: 82.2rem;
    background-color: #ffd600;
    width: 28.6rem;
    height: 5.7rem;
    position: absolute;
    left: 8.5rem;
  }
  .explore-my-work-C63 {
    position: absolute;
    left: 9.9rem;
    top: 83rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2022535276;
    font-style: italic;
    width: 25.3rem;
    white-space: nowrap;
    text-decoration-line: underline;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 3.7rem;
  }
  .figma-dp-FKD {
    position: absolute;
    left: 78rem;
    top: 21.7rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 10rem;
    width: 29.5rem;
    height: 47.4rem;
  }
  .navi-xDd {
    position: absolute;
    left: 72.3rem;
    top: 4rem;
    display: flex;
    align-items: center;
    width: 59.1rem;
    height: 2.9rem;

    .home-4nT {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      color: #ffffff;
      margin: 0rem 10.3rem 0.2rem 0rem;
      font-weight: 800;
      font-style: italic;
    }
    .about-y8j {
      margin-right: 6.7rem;
      font-size: 2.2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 900;
      line-height: 1.2125;
      font-style: italic;
      color: #ffffff;
    }
    .works-Vsm {
      margin: 0.2rem 7.6rem 0rem 0rem;
      font-size: 2.2rem;
      color: #ffffff;
      flex-shrink: 0;
      white-space: nowrap;
      font-weight: 800;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
    }
    .contact-271 {
      color: #ffffff;
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 2.2rem;
      font-weight: 800;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .desktop-1-kYo {
    top: 105.8rem;
    overflow: hidden;
    background-color: #ffffff;
    width: 142.8rem;
    height: 95.9rem;
    position: absolute;
    left: 3.8rem;
  }
  .bg-planets-2-poZ {
    vertical-align: top;
    width: 164rem;
    height: 96.8rem;
    position: absolute;
    left: 0;
    top: 99.4rem;
    object-fit: cover;
  }
  .about-me--9aw {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 31.5rem;
    position: absolute;
    top: 104.7rem;
    font-size: 5rem;
    line-height: 1.2125;
    height: 6.1rem;
    left: 56.5rem;
    font-weight: 800;
    font-style: italic;
    color: #ffffff;
  }
  .hello-im-danica-mae-s-de-guzman-G9m {
    position: absolute;
    font-size: 5.5rem;
    line-height: 1.2125;
    font-style: italic;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 79.6rem;
    height: 13.4rem;
    left: 5.1rem;
    top: 115.2rem;
    font-weight: 800;
  }
  .n-1-kKq {
    width: 45.3rem;
    height: 57.7rem;
    position: absolute;
    left: 95.7rem;
    top: 132.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .i-am-deeply-committed-to-learned-more-when-it-comes-to-programming-to-have-a-better-opportunities-to-further-enhance-my-skills-and-broaden-my-knowledge-to-contribute-the-success-throughout-my-future-career-i-have-courage-to-solve-any-kind-of-different-problem-solving-and-thrive-in-dynamic-environment-where-creativity-abilities-and-innovation-are-valued-GZ5 {
    font-weight: 400;
    font-family: Jua, 'Source Sans Pro';
    width: 74.2rem;
    height: 45rem;
    position: absolute;
    left: 5.6rem;
    top: 131rem;
    font-size: 3.6rem;
    line-height: 1.25;
    color: #ffffff;
  }
  .facebook-bDy {
    object-fit: contain;
    vertical-align: top;
    width: 6.3327rem;
    height: 6.626rem;
    position: absolute;
    left: 12.8rem;
    top: 182.6rem;
  }
  .instagram-J8P {
    position: absolute;
    left: 26.7113rem;
    top: 182.9806rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.2782rem;
    height: 6.5388rem;
  }
  .vector-bNP {
    left: 29.1339rem;
    top: 185.1538rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4274rem;
    height: 2.1772rem;
    position: absolute;
  }
  .gmail-ihu {
    vertical-align: top;
    width: 7.5rem;
    height: 6rem;
    position: absolute;
    left: 40.7rem;
    top: 182.7rem;
    object-fit: contain;
  }
  .youtube-f7M {
    top: 182.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 8rem;
    height: 7rem;
    position: absolute;
    left: 54.5rem;
  }
  .javascript-Cd5 {
    object-fit: contain;
    vertical-align: top;
    width: 8.0474rem;
    height: 9.4018rem;
    position: absolute;
    left: 81.6rem;
    top: 168.7rem;
  }
  .css-XvF {
    position: absolute;
    left: 81.3357rem;
    top: 154.4965rem;
    object-fit: contain;
    vertical-align: top;
    width: 8.328rem;
    height: 7.3615rem;
  }
  .html-g2T {
    top: 139.3676rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.2091rem;
    height: 7.5649rem;
    position: absolute;
    left: 81.8957rem;
  }
}
